
/* Global values */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* icons */
.icon {
    margin: auto;
    display: block;
}



/* body style */
.body-content {
    padding: 2%;
    padding-bottom: 15%;
}

.row {
    clear: both;
    padding-top: 4%;
}

/* intro */
.intro-hello {
    font-size: 40px;
}

.intro-info {
    font-family: Georgia, Times, serif;
    font-size: 25px;
}

.project-link {
    font-size: 40px;
}

/*.underline {*/
    /*vertical-align: middle;*/
    /*padding-bottom: 7% !important;*/
/*}*/
.col-md {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* NAVBAR */
.dropdown:hover {
    background-color: darkblue;
}
.navbar {
    width: 100%;
    background-color: #ebf4f6;
}

/* Borders */
.border-5 {
    border-width:10px !important;
    border-color: #76b4bd !important;
}