
/* Global values */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* icons */
.icon {
    margin: auto;
    display: block;
}

/* body style */
.body-content {
    padding: 2%;
    padding-bottom: 10%;
}

.row {
    clear: both;
    padding-top: 4%;
}

.normal-link {
    text-decoration: none !important;
    color: black;
}

.normal-link:hover {
    color: black;
    opacity: .75;
}

/* intro */
.intro-hello {
    font-size: 40px;
}

.intro-info {
    font-family: Georgia, Times, serif;
    font-size: 25px;
}

.project-link {
    font-size: 40px;
}

.col-md {
    padding-top: 5%;
    padding-bottom: 5%;
}

.underline {
    vertical-align: middle;
    /*padding-bottom: 7% !important;*/
}

.skills-dropdown img {
    height: 100px;
    align-content: center;
    align-items: center;
}

.skills-dropdown img:hover {
    opacity: .65;
}

/* Fun skills descriptions */
/*.description-placeholder {*/
    /*display:none;*/
/*}*/
.skill-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
}

/* Carousel */
.carousel-header {
    font-size: 40px;
    text-align: center;
}

.carousel-link {
    background-color: aqua !important;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background-color: #ebf4f6;
}

.nav-link {
    color: #5e5656 !important;
}

.nav-link:hover {
    color: #76b4bd !important;
}

/* Borders */
.border-5 {
    border-width:10px !important;
    border-color: #76b4bd !important;
}

.nav-image {
    margin: 10px;
}

.nav-image:hover {
    opacity: .5 !important;
}

/* Project thumbnails */
.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    /*background-color: #76b4bd;*/
}

.col-sm:hover .image-overlay {
    opacity: .75;
}

.image-overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* PLANET POLLUTER */
.fullscreen {
    background-image: url('/PlanetPolluterTemplateData/fullscreen.png');
    width: 38px;
}

.gameHolder {
    padding-right: 50% !important;
}

.pollution-description {
    text-align: left;
    font-size: 22px;
    color: #5e5656;
}

.gameBlock {
    max-width: 50%;
    max-height: 50%;
}




