
/* Global values */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* icons */
.icon {
    margin: auto;
    display: block;
}



/* body style */
.body-content {
    padding: 2%;
    padding-bottom: 15%;
}

.row {
    clear: both;
    padding-top: 4%;
}

/* intro */
.intro-hello {
    font-size: 40px;
}

.intro-info {
    font-family: Georgia, Times, serif;
    font-size: 25px;
}

.project-link {
    font-size: 40px;
}

.col-md {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background-color: #ebf4f6;
}

.nav-link {
    color: #5e5656 !important
}

.nav-link:hover {
    color: #76b4bd !important;
}

/* Borders */
.border-5 {
    border-width:10px !important;
    border-color: #76b4bd !important;
}
